
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

venv/
env/
ENV/
.venv/
.env/

.idea/

*.log
*.db
*.sqlite
*.sqlite3
*.bak
*.swp

*.cache

.DS_Store

Thumbs.db
ehthumbs.db

*~

.ipynb_checkpoints/

.pytest_cache/

.coverage
*.coveragerc

*.dockerignore

*.sublime-workspace
*.sublime-project
*.vscode/
